# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: weixin-push-on-time

on:
  workflow_dispatch:
  schedule:
    # 每天国际时间 02:10 运行, 即北京时间 10:10 运行
    - cron: '0 23 * * *'
    
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    # 添加定时任务指定运行分支 默认为master
    - uses: actions/checkout@v3
      with:
          ref: 'master'
          
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run dev --if-present
    env: 
      APP_ID: ${{secrets.APP_ID}}
      APP_SECRET: ${{secrets.APP_SECRET}}

